/* Roboto Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 200vh;
}

.hero-content {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding:16px;
    margin: 0;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px;
}

.header li a,
.hero-text p,
.footer h4 {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}